@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* sheard styles */
.bg-color {
    background-color: #1A0B2E;
}

.display-flex {
    display: flex;
}

.btn-primary {
    padding: 0.75rem 1rem;
    border-radius: 1.875rem;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

/* primary color */
.text-color {
    color: #FFFFFF;
}

/* main style */
/* header related style */
header>hr {
    border: 1px solid #FFFFFF;
    opacity: 10%;
}

/* navbar related styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 5.75vh;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
}

.nav-title {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
}

.nav-wave {
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

nav>ul {
    list-style: none;
    justify-content: space-between;
    gap: 2rem;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 500;
}

/* banner related styles */
.banner {
    height: 47.5rem;
    background-repeat: no-repeat;
    background-image: url(../assets/hero-bg.png), url(../assets/hero-circle.png);
    background-position: 0 0, 101px 625px 309px 625px;
}

.banner-content {
    padding: 491px 525px 101px;
}

#btn-on {
    padding: 0.75rem 1.25rem;
}

#sub-btn {
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: none;
}

/* main section styles */

/* podcast style */
.podcast-container {
    padding: 50px 200px 120px;
}

.podcast-content {
    /* align-items: center; */
    justify-items: center;
}

#podcast-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.podcast-content>p {
    /* justify-items: center; */
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
}

#podcast-join {
    margin-top: 3rem;
    opacity: 80%;
}

.podcast-container>hr {
    margin: 5rem 0;
    border: 1px solid #FFFFFF;
    opacity: 10%;
}

.podcast-card {
    justify-content: space-between;
    align-items: center;
}

.podcast-card>div>h3 {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
    margin-bottom: 1rem;
}

.podcast-card>div>p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
}

/* Why Choose TechWave section styles */
#techwave-section {
    background-color: #230E3D;
    padding: 120px 200px;
}

.techwave-color {
    background-color: #351165;
}

#premium {
    grid-area: premium;
    padding: 107.5px 40px;
    border-radius: 2rem;
}

#mobile {
    grid-area: mobile;
    padding: 40px;
    border-radius: 2rem;
}

#global {
    grid-area: global;
    padding: 40px;

    border-radius: 2rem;
}

#exclusive {
    grid-area: exclusive;
    padding: 40px;
    border-radius: 2rem;
}

#resource {
    grid-area: resource;
    padding: 40px;
    border-radius: 2rem;
}

#techwave-title {
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.techwave-card {
    display: grid;
    gap: 30px;
    grid-template-areas: "premium mobile mobile" "premium global global" "exclusive exclusive resource";
}

.techwave-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.techwave-card-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 60%;
}

/* meet the host section style */
.host-container {
    padding: 40px;
    background-color: #351165;
    border-radius: 50px;
}

/* .host-info {} */

/* footer related styles */
.footer {
    background-image: url(../assets/footer-bg.png);
    height: 412px;
    justify-items: center;
    align-items: center;
}